#fenixbox-overlay{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:black;
color:#ffffff;
}

#fenixbox{
position:fixed;
background:#000000;
border:10px solid #000000;
border-radius:10px;
}
.fenixbox{
cursor:pointer;
} 
.fenixbox-loader{
position:fixed;
top:0;
left:0;
}
.fenixbox-exit{
color:#ffffff;
position:absolute;
right:10px;
top:10px;
cursor:pointer;
}
.fenixbox-title{
padding:20px 10px 20px 10px;
position:absolute;
bottom:0;
left:0;
background:#000000;
opacity:0.6;
color:#ffffff;
font-weight:bold;
font-size:18px;
}
